<!--
  File: cyclus_integrated_system.urdf.xacro
  Purpose: Integrated stationary and EMRAC carrier system for the cyclus_description package.
  Author: BARGAVAN R
  Contact: bargavanr01@gmail.com
-->
<robot name="cyclus_integrated_system" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="includes/common_materials.xacro" />
  <xacro:include filename="includes/stationary_components.xacro" />
  <xacro:include filename="includes/emrac_control_macros.xacro" />
  <xacro:include filename="includes/integrated_mount_macros.xacro" />
  <xacro:include filename="emrac_body_macro.xacro" />

  <xacro:arg name="structure_gap_mm" default="1960.0" />
  <xacro:arg name="stationary_z_offset" default="0.5" />
  <xacro:arg name="ground_rails_mount_x" default="1.9" />
  <xacro:arg name="ground_rails_mount_y" default="-0.02" />
  <xacro:arg name="ground_rails_mount_z" default="0.5" />
  <xacro:arg name="tesla_mount_x" default="1.6" />
  <xacro:arg name="tesla_mount_y" default="2.2" />
  <xacro:arg name="tesla_mount_z" default="0.9" />
  <xacro:arg name="tesla_mount_roll" default="1.570796" />
  <xacro:arg name="tesla_mount_pitch" default="0.0" />
  <xacro:arg name="tesla_mount_yaw" default="0.0" />
  <xacro:arg name="emrac_axis_1_xyz" default="1,0,0" />
  <xacro:arg name="emrac_axis_2_xyz" default="0,0,-1" />
  <xacro:arg name="emrac_axis_1_limit_m" default="10.0" />
  <xacro:arg name="emrac_axis_2_limit_m" default="10.0" />
  <xacro:arg name="emrac_mount_x" default="0.95" />
  <xacro:arg name="emrac_mount_y" default="0.47" />
  <xacro:arg name="emrac_mount_z" default="0.3" />
  <xacro:arg name="emrac_stack_z_step" default="0.5" />

  <xacro:property name="mesh_scale" value="0.001 0.001 0.001" />
  <xacro:property name="stationary_mesh_roll" value="0.0" />
  <xacro:property name="mesh_size_y_m" value="0.1168529987" />
  <xacro:property name="mesh_origin_x" value="-1.5183146342" />
  <xacro:property name="mesh_origin_y" value="-0.0607579947" />
  <xacro:property name="mesh_origin_z" value="-0.0001053810" />
  <xacro:property name="stationary_collision_size" value="3.0366192664 0.1168529987 2.9316412010" />
  <xacro:property name="stationary_collision_z" value="1.4659259815" />
  <xacro:property name="ground_rails_origin_x" value="-1.3169385681" />
  <xacro:property name="ground_rails_origin_y" value="0.0" />
  <xacro:property name="ground_rails_origin_z" value="0.3634481812" />
  <xacro:property name="ground_rails_collision_size" value="3.3853313599 2.1556440430 0.0588344116" />
  <xacro:property name="ground_rails_collision_z" value="0.0294172058" />
  <xacro:property name="tesla_mesh_scale" value="0.001 0.001 0.001" />
  <xacro:property name="tesla_mesh_origin_x" value="0.0" />
  <xacro:property name="tesla_mesh_origin_y" value="0.0" />
  <xacro:property name="tesla_mesh_origin_z" value="0.0" />

  <xacro:property name="structure_gap_mm_value" value="$(arg structure_gap_mm)" />
  <xacro:property name="stationary_z_offset_value" value="$(arg stationary_z_offset)" />
  <xacro:property name="left_pose_y" value="${(mesh_size_y_m / 2.0) + (float(structure_gap_mm_value) / 2000.0)}" />
  <xacro:property name="right_pose_y" value="${-left_pose_y}" />
  <xacro:property name="emrac_axis_1_limit" value="$(arg emrac_axis_1_limit_m)" />
  <xacro:property name="emrac_axis_2_limit" value="$(arg emrac_axis_2_limit_m)" />
  <xacro:property name="emrac_axis_1_vector" value="${' '.join('$(arg emrac_axis_1_xyz)'.split(','))}" />
  <xacro:property name="emrac_axis_2_vector" value="${' '.join('$(arg emrac_axis_2_xyz)'.split(','))}" />
  <xacro:property name="emrac_mount_x_value" value="$(arg emrac_mount_x)" />
  <xacro:property name="emrac_mount_y_value" value="$(arg emrac_mount_y)" />
  <xacro:property name="emrac_mount_z_value" value="$(arg emrac_mount_z)" />
  <xacro:property name="emrac_stack_z_step_value" value="$(arg emrac_stack_z_step)" />

  <xacro:cyclus_shared_materials />

  <link name="world" />

  <link name="integrated_root">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1.0" />
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>

  <joint name="world_to_integrated_root" type="fixed">
    <parent link="world" />
    <child link="integrated_root" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <xacro:cyclus_stationary_structure
    root_link="integrated_root"
    link_name="stationary_structure_right"
    mesh_name="stationary_structure_right.STL"
    material_name="rail_bronze"
    pose_y="${right_pose_y}"
    pose_z="${stationary_z_offset_value}"
    pose_yaw="3.14159265358979"
    mesh_origin_x="${mesh_origin_x}"
    mesh_origin_y="${mesh_origin_y}"
    mesh_origin_z="${mesh_origin_z}"
    mesh_scale="${mesh_scale}"
    stationary_mesh_roll="${stationary_mesh_roll}"
    stationary_collision_size="${stationary_collision_size}"
    stationary_collision_z="${stationary_collision_z}" />

  <xacro:cyclus_stationary_structure
    root_link="integrated_root"
    link_name="stationary_structure_left"
    mesh_name="stationary_structure_left.STL"
    material_name="rail_bronze"
    pose_y="${left_pose_y}"
    pose_z="${stationary_z_offset_value}"
    pose_yaw="0"
    mesh_origin_x="${mesh_origin_x}"
    mesh_origin_y="${mesh_origin_y}"
    mesh_origin_z="${mesh_origin_z}"
    mesh_scale="${mesh_scale}"
    stationary_mesh_roll="${stationary_mesh_roll}"
    stationary_collision_size="${stationary_collision_size}"
    stationary_collision_z="${stationary_collision_z}" />

  <xacro:cyclus_ground_rails
    root_link="integrated_root"
    link_name="ground_rails"
    mesh_name="ground_rails.STL"
    material_name="rail_bronze"
    mount_x="$(arg ground_rails_mount_x)"
    mount_y="$(arg ground_rails_mount_y)"
    mount_z="$(arg ground_rails_mount_z)"
    mount_roll="0"
    mount_pitch="0"
    mount_yaw="0"
    ground_rails_origin_x="${ground_rails_origin_x}"
    ground_rails_origin_y="${ground_rails_origin_y}"
    ground_rails_origin_z="${ground_rails_origin_z}"
    mesh_scale="${mesh_scale}"
    ground_rails_collision_size="${ground_rails_collision_size}"
    ground_rails_collision_z="${ground_rails_collision_z}" />

  <xacro:cyclus_visual_mesh
    root_link="integrated_root"
    link_name="tesla_electric_vehicle"
    mesh_name="tesla_electric_vehicle.STL"
    material_name="cybertruck_steel"
    mount_x="$(arg tesla_mount_x)"
    mount_y="$(arg tesla_mount_y)"
    mount_z="$(arg tesla_mount_z)"
    mount_roll="$(arg tesla_mount_roll)"
    mount_pitch="$(arg tesla_mount_pitch)"
    mount_yaw="$(arg tesla_mount_yaw)"
    mesh_origin_x="${tesla_mesh_origin_x}"
    mesh_origin_y="${tesla_mesh_origin_y}"
    mesh_origin_z="${tesla_mesh_origin_z}"
    mesh_roll="0"
    mesh_pitch="0"
    mesh_yaw="0"
    mesh_scale="${tesla_mesh_scale}" />

  <xacro:emrac_planar_mount prefix="emrac_1_" mount_x="${emrac_mount_x_value}" mount_y="${emrac_mount_y_value}" mount_z="${float(emrac_mount_z_value) + 0.0}" axis_1_vector="${emrac_axis_1_vector}" axis_2_vector="${emrac_axis_2_vector}" axis_1_limit="${emrac_axis_1_limit}" axis_2_limit="${emrac_axis_2_limit}" />
  <xacro:emrac_planar_mount prefix="emrac_2_" mount_x="${emrac_mount_x_value}" mount_y="${emrac_mount_y_value}" mount_z="${float(emrac_mount_z_value) + float(emrac_stack_z_step_value)}" axis_1_vector="${emrac_axis_1_vector}" axis_2_vector="${emrac_axis_2_vector}" axis_1_limit="${emrac_axis_1_limit}" axis_2_limit="${emrac_axis_2_limit}" />
  <xacro:emrac_planar_mount prefix="emrac_3_" mount_x="${emrac_mount_x_value}" mount_y="${emrac_mount_y_value}" mount_z="${float(emrac_mount_z_value) + 2.0 * float(emrac_stack_z_step_value)}" axis_1_vector="${emrac_axis_1_vector}" axis_2_vector="${emrac_axis_2_vector}" axis_1_limit="${emrac_axis_1_limit}" axis_2_limit="${emrac_axis_2_limit}" />
  <xacro:emrac_planar_mount prefix="emrac_4_" mount_x="${emrac_mount_x_value}" mount_y="${emrac_mount_y_value}" mount_z="${float(emrac_mount_z_value) + 3.0 * float(emrac_stack_z_step_value)}" axis_1_vector="${emrac_axis_1_vector}" axis_2_vector="${emrac_axis_2_vector}" axis_1_limit="${emrac_axis_1_limit}" axis_2_limit="${emrac_axis_2_limit}" />

  <xacro:emrac_control_plugin config_path="$(find cyclus_description)/config/cyclus_integrated_controllers.yaml" />

  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <xacro:emrac_planar_ros2_control prefix="emrac_1_" />
    <xacro:emrac_planar_ros2_control prefix="emrac_2_" />
    <xacro:emrac_planar_ros2_control prefix="emrac_3_" />
    <xacro:emrac_planar_ros2_control prefix="emrac_4_" />
    <xacro:emrac_arm_ros2_control prefix="emrac_1_" />
    <xacro:emrac_arm_ros2_control prefix="emrac_2_" />
    <xacro:emrac_arm_ros2_control prefix="emrac_3_" />
    <xacro:emrac_arm_ros2_control prefix="emrac_4_" />
  </ros2_control>
</robot>
