<!--
  File: emrac_body.urdf.xacro
  Purpose: Standalone EMRAC body model for the cyclus_description package.
  Author: BARGAVAN R
  Contact: bargavanr01@gmail.com
-->
<robot name="emrac_body" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="includes/common_materials.xacro" />
  <xacro:include filename="includes/emrac_control_macros.xacro" />
  <xacro:include filename="emrac_body_macro.xacro" />

  <xacro:cyclus_shared_materials />
  <xacro:emrac_body_instance prefix="" />
  <xacro:emrac_control_plugin config_path="$(find cyclus_description)/config/emrac_arm_controllers.yaml" />

  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <xacro:emrac_arm_ros2_control prefix="" />
  </ros2_control>
</robot>
